<app-page-title [title]="'КОЛИЧКА'"></app-page-title>

<mat-card
  class="cart-container mat-elevation-z2"
  *ngIf="items.length > 0; else elseBlock"
>
  <div class="items-container">
    <li class="cart-item" *ngFor="let item of items">
      <button
        class="cart-btn-remove-item"
        mat-flat-button
        (click)="removeItemHandler(item._id)"
      >
        <mat-icon class="mat-18" color="warn">delete</mat-icon>
      </button>
      <img class="cart-item-img" src="{{ item.imgUrl }}" />
      <div>
        <p class="cart-item-title">{{ item.title }}</p>
        <p class="cart-item-price">{{ item.price }} лв.</p>
      </div>
    </li>
  </div>
  <mat-card *ngIf="user" class="shipping-details mat-elevation-z4">
    <form [formGroup]="checkoutForm" (ngSubmit)="checkoutHandler()">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Получател</mat-label>
        <input
          matInput
          [disabled]="true"
          value="{{ user.firstName + ' ' + user.lastName }}"
        />
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Телефон</mat-label>
        <input matInput [disabled]="true" value="{{ user.phone }}" />
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Адрес за доставка</mat-label>
        <input matInput formControlName="shippingAddress" required />
        <mat-error
          *ngIf="
            checkoutForm.controls.shippingAddress.touched &&
            checkoutForm.controls.shippingAddress.invalid
          "
        >
          <span *ngIf="checkoutForm.controls.shippingAddress.errors?.required"
            >Това поле е задължително!</span
          >
        </mat-error>
      </mat-form-field>
      <p class="total-cost">
        Обща сума: <span>{{ totalCost$ | async }} лв.</span>
      </p>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!checkoutForm.valid"
      >
        Изпрати поръчката
      </button>
    </form>
  </mat-card>
</mat-card>
<ng-template #elseBlock>
  <h1 class="empty-cart">Вашата количка е празна... :(</h1>
</ng-template>
