<section class="features">
  <div>
    <h2>Доказано качество</h2>
    <p>Висококачествени врати, изработени от доказани производители.</p>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div>
    <h2>Безплатен оглед</h2>
    <p>
      Извършваме безплатен оглед и взимане на размери за гр. София и област
      София.
    </p>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div>
    <h2>Експресна доставка</h2>
    <p>
      Всички врати са налични на склад, което от своя страна гарантира бърза
      доставка.
    </p>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div>
    <h2>Отлични цени</h2>
    <p>
      Предлагаме най-изгодните цени, защото работим директно с производителите.
    </p>
  </div>
</section>
