<section class="featured-images">
  <a
    class="img-1"
    routerLink="/catalogue"
    [queryParams]="{ manufacturer: 'Variodor' }"
  >
    <p>Интериорни врати Varidor</p>
  </a>
  <a
    class="img-2"
    routerLink="/catalogue"
    [queryParams]="{ manufacturer: 'Haska' }"
  >
    <p>Входни врати Haska</p>
  </a>
  <a
    class="img-3"
    routerLink="/catalogue"
    [queryParams]="{ manufacturer: 'Star Security Door' }"
  >
    <p>Входни врати Star Security Door</p>
  </a>

  <a
    class="img-4"
    routerLink="/catalogue"
    [queryParams]="{ manufacturer: 'Eurostill' }"
  >
    <p>Интериорни врати Eurostill</p>
  </a>
</section>
