.header-img {
  img {
    width: 100%;
  }
}

.newest-items-container {
  width: 85%;
  margin: 50px auto;
  padding: 16px;

  background-color: #f1efe9;
  border-radius: 15px;

  h1 {
    text-align: center;
  }

  .newest-items {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
  }
}
